h2,h4 ,h1{
    color: #B26759;
    font-family: 'Playfair Display', serif;
}
p,li,th,td { 
    font-family: 'Lora', serif; 
}
body{ 
    margin: 0;
    line-height: 1.6;
}
img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
    display: block; 
    margin: 0 auto; 
}
section {
    background-color: #F7F0D9; 
    padding: 2em; 
    margin: 1em 0; 
   
    border: 2px solid; 
border-image: linear-gradient(to right, #B26759, #F3ECD5) 1; 
 }





table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 2em; 
}

th, td {
    padding: 1em;
    text-align: left;
    border: 2px solid #B26759; }

th {
    background-color: #E8DAB1;
    color: #B26759;
    font-weight: bold;
}


td {
    background-color: #E8DAB1; 
}

tr:hover {
    background-color:#F7F0D9;
    transition: background-color 0.3s ease; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 0.5em; 
    margin: 0.5em 0; 
    border: 1px solid #B26759; 
    border-radius: 4px; }

    input[type="submit"] {
        background-color: #B26759; 
        color: #F3ECD5;
        padding: 0.5em 1em; 
        border: none; 
        border-radius: 4px; 
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #F3ECD5;
        color: #B26759; 
    }

/*body {
    background-color: #F7F0D9; 
}*/